<style>
table, th, td {
  border: 1px solid;
  width: 50%;
}
</style>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <tr>
  @foreach (var item in (List<ProductViewModel>) ViewData["products"])
		{
		<tr>
			<td>@item.Name</td>
			<td>@item.Price</td>
		</tr>
		}

</table>